# Test Tabula Python for Extracting Python Tables

# Set up 

Install tabula

```
pip install tabula-py
```

## Extract a Table

In [2]:
import tabula

In [11]:
# Example from tabula docs
df = tabula.read_pdf("https://github.com/tabulapdf/tabula-java/raw/master/src/test/resources/technology/tabula/arabic.pdf")

'pages' argument isn't specified.Will extract only from page 1 by default.

In [14]:
df = tabula.read_pdf("https://www.visionofhumanity.org/wp-content/uploads/2020/10/GPI_2020_web.pdf", pages=10, user_agent='Mozilla/5.0')

In [16]:
df[0]

,RANK,COUNTRY,SCORE,CHANGE,RANK.1,COUNTRY SCORE,Unnamed: 0,CHANGE.1,RANK COUNTRY,SCORE.1,Unnamed: 1,CHANGE.2
0,1,Iceland,1.078,,29,Poland,1.657, 1,=57 Greece,NaN,1.877, 8
1,2,New Zealand,1.198,,30,Estonia,1.680, 3,=57 Liberia,NaN,1.877, 1
2,3,Portugal,1.247,,31,Italy,1.690, 6,59 Malawi,NaN,1.885, 14
3,4,Austria,1.275,,32,Costa Rica,1.691, 2,=60 Equatorial Guinea,NaN,1.891, 10
4,5,Denmark,1.283,,33,Botswana,1.693, 2,=60 The Gambia,NaN,1.891,
5,6,Canada,1.298,,34,Latvia,1.700, 2,62 North Macedonia,NaN,1.900, 2
6,7,Singapore,1.321,,35,Uruguay,1.704,,63 Madagascar,NaN,1.905, 8
7,8,Czech Republic,1.337, 1,36,Lithuania,1.705,,=64 Cyprus,NaN,1.920, 2
8,9,Japan,1.360, 2,37,Taiwan,1.707,,=64 Vietnam,NaN,1.920, 5
9,10,Switzerland,1.366,,38,Spain,1.712, 1,66 France,NaN,1.930, 3
10,11,Slovenia,1.369, 2,=39,Kuwait,1.723, 5,67 Eswatini,NaN,1.934, 9
11,12,Ireland,1.375,,=39,Mongolia,1.723, 7,68 Oman,NaN,1.941, 1
12,13,Australia,1.386,,41,United Arab Emirates,1.752, 6,69 Montenegro,NaN,1.944, 2
13,14,Finland,1.404,,42,United Kingdom,1.770, 2,70 Kazakhstan,NaN,1.948, 4
14,15,Sweden,1.479, 3,43,Ghana,1.776, 2,71 Moldova,NaN,1.950, 3
15,16,Germany,1.494, 6,44,Zambia,1.794, 5,72 Jordan,NaN,1.958, 3
16,=17,Belgium,1.496, 6,45,Chile,1.804, 17,73 Nepal,NaN,1.974, 1
17,=17,Norway,1.496,,46,Sierra Leone,1.820, 4,74 Argentina,NaN,1.978, 3
18,19,Bhutan,1.501, 4,47,Senegal,1.824, 7,75 Paraguay,NaN,1.991, 11
19,20,Malaysia,1.525,,48,South Korea,1.829, 9,76 Dominican Republic,NaN,1.992, 6
20,21,Netherlands,1.528, 5,49,Indonesia,1.831, 6,77 Sri Lanka,NaN,2.003, 4
21,22,Romania,1.541, 3,50,Laos,1.843, 2,78 Cambodia,NaN,2.011, 3
22,23,Mauritius,1.544, 1,51,Serbia,1.846, 1,Bosnia and 79,NaN,2.040, 1
23,24,Hungary,1.559, 5,52,Tanzania,1.850, 6,Herzegovina80 Jamaica,NaN,2.041,
24,25,Slovakia,1.568, 4,53,Namibia,1.861, 8,81 Rwanda,NaN,2.049, 4
25,26,Croatia,1.615, 1,54,Timor-Leste,1.863, 3,82 Guyana,NaN,2.050, 8
26,27,Qatar,1.616, 3,55,Albania,1.872, 2,83 Morocco,NaN,2.057, 1
27,28,Bulgaria,1.628, 2,56,Panama,1.875, 6,NaN,NaN,NaN,NaN